.banner-wrapper {
  background: url('../../../assets/images/banner-home-bg.svg');
  background-size: cover; /* Makes the image cover the entire section */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-position: center; /* Centers the image */
  padding: 11rem 3.5rem 0;
  margin-top: -11rem;
}
.banner-wrapper .banner {
  display: flex;
  border-top: 1px solid #e1d7c5;
  /* align-items: center; */
  padding: 0 5.3rem;
}

.banner-wrapper .banner .connection {
  width: 50%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding: 11.5rem 0;
}

.banner-wrapper .banner .connection h1 {
  /* color: #cd9929; */
  font-size: 4.4rem;

  font-weight: 700;
  margin-bottom: 2rem;
}

.banner-wrapper .banner .connection h1 span {
  color: #cd9929;
}

.banner-wrapper .banner .connection .find {
  color: #868787;
  font-size: 1.9rem;
  font-weight: 400;
  margin-bottom: 5rem;
}

.banner-wrapper .banner .btns {
  display: flex;
  align-items: center;
  column-gap: 1.2rem;
}

.banner-wrapper .slider {
  width: 50%;
}

.banner-wrapper .slider .img-con img {
  height: 93.9rem;
}
