.explore-our-services {
  background-color: #fff;
  padding: 0 0 3rem;
}
.explore-our-services .top-section {
  background-color: #fff8f2;
  padding: 4.5rem 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.explore-our-services .title {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 2rem;
  max-width: 72.5rem;
  text-align: center;
}
.explore-our-services .info {
  font-size: 2.2rem;
  font-weight: 400;
  margin-bottom: 2rem;
  max-width: 99.1rem;
  text-align: center;
}
.explore-our-services .explore-btns {
  display: flex;
  align-items: center;
  column-gap: 0.7rem;
  justify-content: center;
}
.explore-our-services .explore-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5.6rem;
  padding: 0 2.4rem;
  border-radius: 0.6rem;
  font-size: 1.8rem;
  font-weight: 600;
  font-family: inter;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #d0d5dd;
  color: #344054;
}
.explore-our-services .explore-btn.active {
  border: 1px solid #cf9a2a;
  color: #1a482b;
}
.explore-our-services .cards-explore-our-services-wrapper {
  padding: 7.6rem 7.2rem;
}
.explore-our-services .cards-explore-our-services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0;
  justify-content: center;
  /* background-color: green; */
}
.explore-our-services .card-explore-our-services {
  width: 44.1rem;
  /* height: 38rem; */
  height: 45rem;
  padding: 5rem 3.1rem 5rem;
  width: 100%;
}
.explore-our-services .card-explore-our-services.left {
  border-left: 1px solid #345e32;
}
.explore-our-services .card-explore-our-services.right {
  border-right: 1px solid #345e32;
}
.explore-our-services .card-explore-our-services.bottom {
  border-bottom: 1px solid #345e32;
}
.explore-our-services .card-explore-our-services .icon {
  width: 10rem;
  height: 10rem;
  min-width: 10rem;
  min-height: 10rem;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eae9d0;
  margin-bottom: 2.2rem;
}
.explore-our-services .card-explore-our-services .title-wrapper {
  display: flex;
  justify-content: flex-start;
  column-gap: 12rem;
  align-items: center;
  margin-bottom: 2.2rem;
}
.explore-our-services .card-explore-our-services .title-card {
  font-size: 2.2rem;
  font-weight: 700;
}
.explore-our-services .card-explore-our-services .distance {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.7rem;
  border-radius: 2rem;
  background-color: #efffee;
  padding: 0 1rem;
  color: #345e32;
  font-weight: 900;
  font-style: italic;
  font-size: 1.4rem;
}
.explore-our-services .card-explore-our-services .price-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 1.2rem;
  margin-bottom: 2.2rem;
}
.explore-our-services .card-explore-our-services .price {
  color: #345e32;
  font-size: 2rem;
  font-weight: 700;
}
.explore-our-services .card-explore-our-services .rating-wrapper {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}
.explore-our-services .card-explore-our-services .number {
  color: #5b5b5b;
  font-size: 1.6rem;
  font-weight: 400;
}
.explore-our-services .card-explore-our-services .stars {
  display: flex;
  align-items: center;
  column-gap: 0.1rem;
}
.explore-our-services .card-explore-our-services .star {
  min-width: 1.6rem;
  min-height: 1.6rem;
  width: 1.6rem;
  height: 1.6rem;
}
.explore-our-services .card-explore-our-services .info-card {
  color: #5b5b5b;
  font-size: 1.6rem;
  font-weight: 400;
  font-family: 'Inter', serif;
  font-optical-sizing: auto;
  margin-bottom: 2.2rem;
}
.explore-our-services .card-explore-our-services button {
  width: 25.3rem;
  height: 5.8rem;
  border-radius: 1rem;
  border: 1px solid #cd9929;
  background-color: transparent;
  color: #cd9929;
  font-family: 'Inter', serif;
  font-optical-sizing: auto;
  font-size: 1.8rem;
  font-weight: 600;
}
.explore-our-services .btn-wrapper {
  display: flex;
  justify-content: center;
}

