.expand {
  background: url('../../../assets/images/how-it-works-bg.svg');
  background-size: cover; /* Makes the image cover the entire section */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-position: center; /* Centers the image */
  min-height: 66.1rem;
}
@media screen and (max-width: 600px) {
  .expand {
    min-height: 50.2rem;
  }
}

.expand .wrapper {
  padding: 5rem 16.3rem;
  display: flex;
  align-items: center;
  height: 100%;
  /* background-color: green; */
}
@media screen and (max-width: 600px) {
  .expand .wrapper {
    flex-direction: column;
    row-gap: 3rem;
    padding: 4.1rem 2rem;
  }
}
.expand .details {
  width: 50%;
}
@media screen and (max-width: 600px) {
  .expand .details {
    width: 100%;
    max-width: 34.8rem;
    /* background-color: green; */
  }
}
.expand .details .title {
  font-size: 4rem;
  font-weight: 300;
  color: #000000;
  margin-bottom: 1.9rem;
}
@media screen and (max-width: 600px) {
  .expand .details .title {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
  }
}
.expand .details .info {
  font-size: 1.8rem;
  color: #000000;
  margin-bottom: 1.9rem;
  font-weight: 100;
}
@media screen and (max-width: 600px) {
  .expand .details .info {
    font-size: 1.6rem;
    text-align: center;
  }
}
@media screen and (max-width: 600px) {
  .expand .btn-wrapper {
    display: flex;
    justify-content: center;
  }
}
.expand .img-wrapper {
  width: 50%;
  padding: 0 4.3rem;
}
@media screen and (max-width: 600px) {
  .expand .img-wrapper {
    width: 100%;
    padding: 0 0;
  }
}

.expand .img-wrapper .img-con {
  width: 46.2rem;
  height: 51.2rem;
  min-width: 46.2rem;
  min-height: 51.2rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-color: #fff;
  overflow: hidden;
  border-radius: 2rem;
}
@media screen and (max-width: 600px) {
  .expand .img-wrapper .img-con {
    width: 29.2rem;
    height: 21.8rem;
    min-width: 29.2rem;
    min-height: 21.8rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: #fff;
    overflow: hidden;
    margin: 0 auto;
  }
}
.expand .img-wrapper .img-con img {
  width: 43.2rem;
  height: 47.2rem;
  min-width: 43.2rem;
  min-height: 47.2rem;
  margin-bottom: -3rem;
}
@media screen and (max-width: 600px) {
  .expand .img-wrapper .img-con img {
    width: 100%;
    height: 23rem;
    min-width: 100%;
    min-height: 23rem;
    margin-bottom: -3rem;
  }
}
