.banner-products-wrapper {
  background: url('../../../assets/images/banner-contact-bg.svg');
  background-size: cover; /* Makes the image cover the entire section */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-position: center; /* Centers the image */
  padding: 11rem 3.5rem 0;
  margin-top: -11rem;
  /* height: 77.7rem; */
  height: 74.5rem;
}
.banner-products-wrapper .banner {
  border-top: 1px solid #e1d7c5;
}
.banner-products-wrapper .banner .content {
  /* padding: 6.5rem 5.3rem; */
  padding: 6rem 5.3rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  align-items: center;
  justify-content: center;
  height: 100%;
  max-width: 74rem;
  margin: 0 auto;
}

.banner-products-wrapper .banner .title {
  /* color: #cd9929; */
  font-size: 6.4rem;
  text-align: center;
  font-family: 'Century Gothic Bold';
}
.banner-products-wrapper .banner .title span {
  color: #cd9929;
}

.banner-products-wrapper .info {
  color: #868787;
  font-size: 1.9rem;
  font-weight: 400;
  margin-bottom: 0rem;
  text-align: center;
}
.banner-products-wrapper .img-con {
  /* min-width: 20.39rem;
  min-height: 35.4rem;
  width: 20.39rem;
  height: 35.4rem; */
}
.banner-products-wrapper .img-con img {
  min-width: 55rem;
  min-height: 35.4rem;
  width: 55rem;
  height: 35.4rem;
  /* object-fit: cover; */
  /* background-color: green; */
}
