.modal-navbar {
  padding: 7.4rem 7rem;
  height: 100%;
}
.modal-navbar .nav-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 4.8rem;
  margin-bottom: 4.8rem;
}
.modal-navbar a {
  text-decoration: none;
  padding: 6px;
  border-radius: 4px;
  background-color: transparent;
  font-size: 1.8rem;
  font-weight: 600;
  font-family: 'Inter', serif;
  font-optical-sizing: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.6rem;
}
.modal-navbar .navlink-active {
  color: #cd9929;
}
.modal-navbar .btns {
  display: flex;
  column-gap: 3rem;
}
