@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --primary: #bc4123;
  --secondary: #2b3452;
}
html {
  font-size: 62.5%;
}
body {
  margin: 0;
  /* padding: 20px; */
  font-family: 'Poppins';
  height: 100vh;
  /* font-family: 'Noto Sans Gothic', serif; */
  font-family: 'Gothic A1', serif;
  font-style: normal;
  /* font-optical-sizing: auto; */
}
* {
  /* color: #fff; */
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* page content */

.dark-theme {
  color: 'red' !important;
  display: none;
}
.light-theme {
  color: 'green' !important;
  display: flex;
}
.light_theme_color svg path {
  fill: #2764ff;
}
.dark_theme_color svg path {
  fill: #85d1f0;
}
.copy {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 6rem;
  justify-content: space-between;
}
thead th {
  position: sticky;
  top: 0;
}
