@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --primary: #bc4123;
  --secondary: #2b3452;
}
html {
  font-size: 62.5%;
}
body {
  /* font-family: 'Noto Sans Gothic', serif; */
  font-family: 'Gothic A1', serif;
  font-style: normal;
  font-optical-sizing: auto;
  width: 100%;
  color: #000000;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.light_theme_color svg path {
  fill: #2764ff;
}
.dark_theme_color svg path {
  fill: #85d1f0;
}
